.css_SelectList{
    background: #fff;
    position: relative;
    fill:rgba(0, 0, 0, 0.65);
}
.css_SelectList ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.css_SelectList_input{
    min-height: 32px;
    border: 1px solid #dfe2e8;
    border-radius: 4px;
    margin-bottom: 8px;
    line-height: 24px;
    padding: 4px 6px 0;
    display: flex;
    flex-wrap: wrap;
    max-height: 110px;
    overflow: auto;
}
.css_SelectList_input .one{
    color: #747a8c;
    font-size: 13px;
    margin-top: 1px;
}
.css_SelectList_input li{
    margin-top: 3px;
    height: 24px;
    line-height: 22px;
    font-size: 12px;
    border: 0;
    color: #747a8c;
    background-color: rgba(239,241,245,.4);
    border-radius: 4px;
    margin-right: 8px;
    padding: 0 20px 0 10px;
    cursor: default;
    float: left;
    max-width: 99%;
    position: relative;
    overflow: hidden;
}
.css_SelectList_input li>div{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.css_SelectList_input li>span{
    color: inherit;
    font-size: 12px;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: optimizeLegibility;
    line-height: inherit;
    cursor: pointer;
    font-weight: 700;
    transition: all .3s;
    display: inline-block;
    transform: scale(.83333333) rotate(0deg);
    position: absolute;
    right: 4px;
    top: 0;
}
.css_SelectList_input li:hover{
    background-color: rgba(0,152,172,0.14);
    color: #0089ac;
    fill: #0089ac;
    
}
.css_SelectList_ul {
    border-radius:4px;
    box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    box-sizing:border-box;
    color:rgba(0, 0, 0, 0.65);
    font-size: 14px;
    position: absolute;
    width: 100%;
    background: white;
    z-index: 999999999;
}
.css_SelectList_ul .command{
    padding: 4px 0 4px 4px !important;
    position: relative;
}
.css_SelectList_ul .command input{
    border: unset;
    width: 90%;
    height: 100%;
    padding: 5px 0 5px 12px!important;
    margin: 1px;
    outline:none;
}
.css_SelectList_ul .command .commandVisual{
    width: 80%;
}
.css_SelectList_ul .command .commandVisualButton{
    margin-top: 1px;
    height: 24px;
    line-height: 22px;
    font-size: 12px;
    border: 0;
    color: #747a8c;
    background-color: rgba(239,241,245,.4);
    border-radius: 4px;
    padding: 0 10px 0 10px;
    cursor: default;
    float: left;
    max-width: 99%;
    position: relative;
    overflow: hidden;
}
.css_SelectList_ul .command .icon{
    margin-top: 5px;
}
.css_SelectList_ul .preg_match .multi_choice_state{
    position: absolute;
    transform: translate(0,-50%);
    top: 50%;
    right: 7px;
    float:none;
    padding:unset;
}
.css_SelectList_ul ul{
    margin: 0;
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    max-height: 250px;
    overflow: auto;
}
.css_SelectList_ul li{
    padding: 5px 0 5px 12px;
    user-select: none;
    position: relative;
}
.css_SelectList_ul .css_SelectList_ul_hover:hover{
    background-color: rgba(0,152,172,0.14);
    color: #0089ac;
    fill: #0089ac;
}
.css_SelectList_ul .css_SelectList_ul_group_hover:hover{
    background-color: rgb(163,168,188,0.14);
    color: #0089ac;
    fill: #0089ac;
}
.css_SelectList_ul .iconPublic{
    float: right;
    color: rgba(255,255,255,1);
    padding-right: 10px;
}
.css_SelectList_ul li>div.clicked{
    color: #0098ac !important;
}
.css_SelectList_ul li.clicked{
    color: #0098ac !important;
    background: rgba(0,152,172,.14) !important;
    font-weight: 600;
}
.css_SelectList_ul .multi_choice_state{
    position: absolute;
    top: 3px;
    right: 4px;
}